body {
  font-family: "Roboto", Arial, sans-serif;
}

.toy {
  overflow: auto;
}

.slider-description-toy {
  display: flex;
  margin: 0 70px;
  position: relative;
}

.more-products {
  margin: 20px;
  cursor: pointer;
  font-size: 17px;
}

.back-products {
  display: none;
}

.left-stick,
.right-stick {
  width: 20px;
  height: 1px;
  background: white;
  position: absolute;
}

.left-stick {
  top: 20px;
  right: 20px;
  transform: rotate(45deg);
}

.right-stick {
  top: 20px;
  right: 20px;
  transform: rotate(135deg);
}

.slider {
  max-width: 500px;
  height: 100%;
}

.toy-images {
  width: 500px;
}

.description-toy {
  margin: 0 40px;
  color: black;
}

.title-toy {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.35;
  margin-bottom: 15px;
}

.price-toy {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 400;
}

.buy-toy {
  background: black;
  color: white;
  width: 180px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  font-weight: bold;
  margin: 20px 0;
  cursor: pointer;
}

.description {
  font-family: "Roboto", Arial, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 1.55;
}

.descriptionForWidth320px {
  display: none;
}

.choose-color {
  margin-top: 5px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.colors {
  font-size: 15px;
  width: 140px;
  border: 1px #ddd solid;
  background: #f8f8f8;
  color: #000;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2px 0 2px 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.colors:focus {
  outline: none;
}

.video-toy {
  text-align: center;
  margin-top: 10px;
}

.video-toy > video {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
  .slider-description-toy {
    display: block;
    margin: 0;
    text-align: start;
    padding: 0 19px;
  }
  .slider {
    margin: 10px 0;
  }
  .description-toy {
    margin: 0;
  }
  .more-products {
    display: none;
  }
  .back-products {
    display: block;
    height: 40px;
    background: black;
    position: relative;
    cursor: pointer;
  }
  .title-toy {
    font-size: 20px;
  }
  .choose-color {
    margin-top: 10px;
}
  .price-toy {
    font-size: 18px;
  }
  .buy-toy {
    width: 100%;
  }
  .description {
    display: none;
  }
  .descriptionForWidth320px {
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    color: black;
    font-size: 15px;
    line-height: 1.55;
  }
  .video-toy {
    padding: 0 19px;
  }
}

@media screen and (max-width: 409px) {
  .descriptionForWidth320px {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .descriptionForWidth320px {
    font-size: 12px;
  }
}
