body {
  font-family: "Roboto", Arial, sans-serif;
}

.slider-description-toy {
  display: flex;
  margin: 0 70px;
  position: relative;
}

.more-products {
  margin: 20px;
  cursor: pointer;
  font-size: 17px;
}

.back-products {
  display: none;
}

.left-stick,
.right-stick {
  width: 20px;
  height: 1px;
  background: white;
  position: absolute;
}

.left-stick {
  right: 20px;
  transform: rotate(45deg);
}

.right-stick {
  right: 20px;
  transform: rotate(135deg);
}

.slider {
  max-width: 500px;
  height: auto;
}

.toy-images {
  width: 500px;
}

.description-toy {
  margin: 0 40px;
  color: black;
}

.title-toy {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.35;
  margin-bottom: 15px;
}

.price-toy {
  font-size: 20px;
  line-height: 1.35;
  font-weight: 400;
}

.buy-toy {
  background: black;
  color: white;
  width: 180px;
  height: 45px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  font-weight: bold;
  margin: 20px 0;
  cursor: pointer;
}

.description {
  font-family: "Roboto", Arial, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 1.55;
}

.descriptionForWidth320px {
  display: none;
}

@media screen and (min-width: 320px) {
  .slider-description-toy {
    display: block;
    margin: 0;
    text-align: start;
    padding: 0 19px;
  }
  .slider {
    margin: 10px 0;
  }
  .description-toy {
    margin: 0;
  }
  .more-products {
    display: none;
  }
  .back-products {
    display: block;
    padding: 16px;
    background: black;
    position: relative;
  }
  .title-toy {
    font-size: 20px;
  }
  .price-toy {
    font-size: 18px;
  }
  .buy-toy {
    width: 100%;
  }
  .description {
    display: none;
  }
  .descriptionForWidth320px {
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    color: black;
    font-size: 12px;
    line-height: 1.55;
  }
}
