.home-page-toy {
  position: relative;
  overflow: auto;
}

.catalog-toys {
  padding: 130px 70px 60px;
  text-align: center;
  background-size: auto;
}

.toysTitle {
  text-align: center;
  margin-bottom: 100px;
  font-size: 30px;
  position: relative;
}

.toysTitle > div {
  font-size: 14px;
  transform: rotate(-45deg);
  position: absolute;
  /* top: 0px; */
  right: -60px;
  bottom: 0px;
  /* top: 0px; */
  right: -55px;
  animation: content 0.2s ease-in-out 5;
}

@keyframes content {
  0% {
    transform: rotate(-360deg);
  }
  25% {
    transform: rotate(-270deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.toys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-toy {
  margin: 0 20px 50px;
  max-width: 21%;
  height: auto;
  box-shadow: 1px 1px 10px 5px #d8d8d8;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.home-toy:hover {
  transform: scale(1.05);
}

.basket-toys {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  position: fixed;
  top: 60px;
  right: 25px;
  z-index: 10;
}

.anticon-shopping-cart {
  font-size: 50px;
  padding-right: 2px;
  padding-top: 2px;
}

.number-toys {
  background: red;
  color: white;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -2px;
  right: -5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9999;
  width: 70px;
  height: 70px;
  background-size: 70px;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

.back_to_top-show {
  display: block;
}

.footer {
  padding: 130px 0 0;
  text-align: center;
  font-size: 20px;
}

.about-delivery {
  padding: 100px 70px 220px;
  font-size: 26px;
  display: flex;
  justify-content: center;
}

.about-delivery > div {
  max-width: 700px;
}

.contacts {
  font-size: 26px;
  background-color: #1f2f3d;
  color: white;
  display: flex;
  justify-content: center;
}

.contacts > div {
  padding: 150px 0 160px;
  background-color: #1f2f3d;
  max-width: 700px;
}

@media screen and (max-width: 1139px) {
  .home-toy {
    max-width: 25%;
  }
}

@media screen and (max-width: 700px) {
  .home-toy {
    max-width: 37%;
  }
  .catalog-toys {
    padding: 50px 40px;
  }
  .toysTitle {
    margin-bottom: 60px;
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .home-toy {
    margin: 0 15px 35px;
    max-width: 40%;
  }
  .catalog-toys {
    padding: 115px 10px;
  }
  .toysTitle {
    margin-bottom: 80px;
    font-size: 25px;
  }
  .basket-toys {
    width: 50px;
    height: 50px;
  }
  .anticon-shopping-cart {
    font-size: 35px;
  }
  .number-toys {
    width: 20px;
    height: 20px;
    bottom: -4px;
    right: -6px;
    font-size: 15px;
  }
  .back_to_top {
    bottom: 50px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
  .toysTitle > div {
    font-size: 12px;
    bottom: -35px;
    right: -10px;
  }
  .footer {
    padding: 0;
    font-size: 20px;
  }
  .about-delivery {
    padding: 170px 30px 220px;
    font-size: 20px;
  }
  .contacts {
    font-size: 18px;
  }
  .contacts > div {
    padding: 150px 19px 180px;
  }
}
